/* color */
$d_fontcolor = #333
$lightgrey = #999
$linkColor = #555
$white = #f7f7f7
$borderStyle = 1px solid #ddd
$dianronglv = #00bc8d
$dianrongcheng = #ff722c
$backcolor = #efeff4
$bannercolor = #f9f9f9;

$guessColor = #6e2a28

