/* helper classes */

.hidden
  display: none !important
  visibility: hidden

.clearfix 
  zoom: 1

.clearfix:before
.clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.float-right
  float right
.text-right
  text-align right
.text-gray
  color: #999

.row
  overflow hidden

  .col2
    float left
    width 20%
  .col3
    float left
    width 33.33333333%
  .col4
    float left
    width 40%
  .col5
    float left
    width 50%
  .col6
    float left
    width 60%
  .col7
    float left
    width 66.66666666%
  .col8
    float left
    width 80%
